# 15_"Renaming" the index

After pivoting or aggregating data, Pandas often leaves the appearance that the column name of the index, is the column that you aggregated by. This is how to rename it to something else


### Example
Suppose you have aggregated some raw data using a pivot table.

### Prepare the DataFrame

In [1]:
import pandas as pd

# Load the example daily time series dataset:
df = pd.read_csv("./data_etc/timeseries_daily.csv")

# Convert the 'Date' column from string to DateTime:
df["Date"] = pd.to_datetime(df["Date"], dayfirst=True)

# Create a pivot table:
df = pd.pivot_table(df, columns="weekday", index="Date", values="feature_1", aggfunc="mean")

df.head()

weekday     Friday  Monday  Saturday  Sunday  Thursday  Tuesday  Wednesday
Date
2017-02-01     NaN     NaN       NaN     NaN       NaN      NaN        0.0
2017-02-02     NaN     NaN       NaN     NaN       0.0      NaN        NaN
2017-02-03     0.0     NaN       NaN     NaN       NaN      NaN        NaN
2017-02-04     NaN     NaN       0.0     NaN       NaN      NaN        NaN
2017-02-05     NaN     NaN       NaN     0.0       NaN      NaN        NaN

### Notice how `weekday` now appears as if it is the column name of the index
It can be removed/changed like so:

In [2]:
df.columns.name = ""
df.head()

            Friday  Monday  Saturday  Sunday  Thursday  Tuesday  Wednesday
Date
2017-02-01     NaN     NaN       NaN     NaN       NaN      NaN        0.0
2017-02-02     NaN     NaN       NaN     NaN       0.0      NaN        NaN
2017-02-03     0.0     NaN       NaN     NaN       NaN      NaN        NaN
2017-02-04     NaN     NaN       0.0     NaN       NaN      NaN        NaN
2017-02-05     NaN     NaN       NaN     0.0       NaN      NaN        NaN

In [3]:
df.columns.name = "Index"
df.head()

Index       Friday  Monday  Saturday  Sunday  Thursday  Tuesday  Wednesday
Date
2017-02-01     NaN     NaN       NaN     NaN       NaN      NaN        0.0
2017-02-02     NaN     NaN       NaN     NaN       0.0      NaN        NaN
2017-02-03     0.0     NaN       NaN     NaN       NaN      NaN        NaN
2017-02-04     NaN     NaN       0.0     NaN       NaN      NaN        NaN
2017-02-05     NaN     NaN       NaN     0.0       NaN      NaN        NaN